<div class="form">
  <div class="imgcontainer">
    <img src="../../assets/img_avatar2.png" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <label for="userId"><b>UserId</b></label>
    <input type="text" placeholder="Enter UserId" [(ngModel)]="userid" name="userid" required>

    <label for="pwd"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" [(ngModel)]="pwd" name="pwd" required>

    <button type="submit" (click)="onLogin()">Login</button>
    <label>
      <i class="info-text">* Put anything as UserId / Password and hit "Login" button.</i>
    </label>
  </div>
</div>